<div class="modal-header">
<h4 class="modal-title pull-left">{{header?header:'Modal Header'}}</h4>
<button type="button" class="close btn-close pull-right" aria-label="Close" (click)="exit()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
</button>
</div>
<div class="modal-body">
    {{message?message:'Confirm Action'}}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="ok()">{{okButtonText?okButtonText:'Yes'}}</button>
    <button type="button" class="btn btn-light" (click)="exit()">{{cancelButtonText?cancelButtonText:'NO'}}</button>
</div>